<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Bootstrap Core CSS -->
        <link href="startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

        <!-- Custom CSS -->
        <!--je tu odkaz na to co, je v adresari public, protoze se nevola odkaz odsud, ale z app.js, kde uz je '../public'-->
        <link href="startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">

        <title>Lenička</title>
    </head>
    <body id="page-top">
        {{{body}}}
    </body>
</html>