<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">{{title}}</h1>
        <h3 class="mb-5">
            <em>{{message}}</em>
        </h3>

        <div class="my-footer text-right align-text-bottom">
            <h3>
                Spolu již {{days}} dní.
            </h3>
        </div>
    </div>



    <div class="overlay"></div>
</header>